/* body{
   background-color: black;
} */
#slider{
   object-fit: cover;
}
.main-1,.main-2{
   display: flex;
}
.Game-main{
   height: 400px;
   width: 220px; 
   border: 2px solid black;  
   margin-left: 210px; 
   border-radius: 5px;
}
.Game-main-1{
   margin-top: 0.3rem;
   margin-left: 15px;
   font-weight: 600;
   color:black;
}
.Game{
   height: 400px;
   width: 220px; 
   border: 2px solid black;  
   margin-left: 10px; 
   border-radius: 5px;
}
.Game-1{
   margin-top: 20px;
   margin-left: 15px;
   color: white;
}